.container {
    max-width: 90rem;
    width: 90%;
    margin: 0 auto;
    padding: 5em 0;
}
.grid-parent {
    width: 370px;
    height: 530px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
}
.grid-item {
    width: 370px;
    height: 530px;
    background-color: #F7F7F8;
    text-align: center;
    /* padding: 2em; */
    position: relative;
    border-radius: 10px;
    transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1);
    /* ,transform 0.15s ease; */

    color: black;
    text-decoration: none;

    /* align-items: center; */
    justify-content: center;
    /* display: flex; */
}
.layer{
    width: 100%;
    height: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    /* align-items: center; */
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    background-color: #1ab69d;
    border-radius: 10px;
    opacity: 0;
    transition: .3s cubic-bezier(0.6, 0.4, 0, 1);
    padding-top: 70px;
}
.grid-item:hover .layer {
    height: 100%;
    opacity: 1;
    color: white;
}
.grid-content {
    transition: .3s cubic-bezier(0.6, 0.4, 0, 1);
}

.grid-item:hover .grid-content {
    opacity: 0;
    transition: .3s cubic-bezier(0.6, 0.4, 0, 1);
}
.badge {
    position: absolute;
    top: .75rem;
    right: 1.5rem;
    font-size: 10px;
    display: flex;
}

.badge-text-1 {
    width: 100px;
    height: 30px;
    background-color: #D5F8EF;
    color: white;
    align-content: center;
    padding: 5px;
    border-radius: 4px;
    position: relative;
    font-size: 16px;
    background-color: orange;
    display: flex;
}
.badge-text-2 {
    width: 40px;
    height: 40px;
    color: white;
    align-content: center;
    padding: 5px;
    border-radius: 50%;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background-color: rgba(255,255,255,.15);
    display: flex;
}
.content{
    justify-content: left !important;
    text-align: left !important;
    margin-left: 20px;
    font-family: "League Spartan", serif;
    position: relative;
    margin-top: 10px;
}
.pop-content-heading{
    font-size: 21px;
    font-weight: bolder;
    
}
.pop-course-cat{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: #1ab69d26;
    color: #1ab69d;
    text-align: center;
    align-items: center;
    align-content: center;

}
.pop-course-cat1{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    color: #1ab69d;
    text-align: center;
    align-items: center;
    padding: 5px;
    align-content: center;

}
.star{
    width: 70%;
    height: auto;
    display: flex;
    align-content: center;
    align-self: center;
    
}
.star-ratings{
    width: 17px;
    height: 16px;
}